@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__branding {
    width: 200px;
    height: 100px;
    align-self: flex-start;
}

.main__branding-image {
    width: 100%;
    height: 100%;
    margin: 16px 32px;
}

.wrapper {
    display: flex;
    margin: 1.25rem 2rem;
}

.landing {
    display: flex;
    width: 100%;
    height: 50%;
}

.landing__section {
    margin-right: 1.25rem;
    flex: 1 1 50%;
}

.landing__image {
    width: 100%;
}

.intro {
    color: white;
    margin-left: 1.25rem;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.intro__text-header {
    width: 90%;
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
    font-family: 'Open Sans', sans-serif;
}

.intro__text {
    font-size: 1rem;
    line-height: 1.5;
    width: 95%;
}

.intro__text-button {
    padding: 0.5rem 1.25rem;
    width: 7.5rem;
    border-radius: 50px;
    border: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 2px 3px 3px rgba(9, 1, 28, 0.4);
    transition: all 0.2s ease-out;
}

.intro__text-button:hover {
    color: white;
    background: #ed52cc;
}

.social-icons {
    display: inline-flex;
    color: white;
    margin: 0 4rem;
    margin-bottom: 1rem;
    width: 7.5rem;
    justify-content: space-between;
    margin-left: auto;
}

.fab {
    border: 1px solid white;
    padding: 7px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    text-align: center;
}


/*Mobile Styles*/
@media (max-width: 40rem) {
    body {
        flex-direction: column;
        align-items: center;
        background-size: contain;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main__branding {
        margin-top: -1.5rem;
        margin-bottom: -1rem;
        width: 30%;
    }

    .landing {
        flex-direction: column;
    }

    .landing__section {
        margin: 0;
    }

    .intro {
        align-items: center;
        margin: 1rem 0;
    }

    .intro__text-header {
        font-size: 1.8rem;
        /* padding-bottom: 0.8rem; */
        width: 100%;
    }

    .intro__text {
        height: 100%;
        margin: 1rem 0;
    }

    .intro__text-button {
        width: 12rem;
        margin-bottom: -2rem;
    }

    .social-icons {
        margin: auto 0;
    }
}